<html>
    <head>
        <title>Smriti Hotel Application</title>
    </head>
    <body>
        <h1>Forget Password</h1>
        <%- include ('./partials/messages') %>
        <div>
            <form action="/forgetpassword" method="post">
                <label for="email">E-mail Address</label><br>
                <input type="email", name="email"><br>
                <label for="password">Password</label><br>
                <input type="password", name="password", required="true"><br>
                <label for="password2">Confirm Password</label><br>
                <input type="password", name="password2", required="true"><br>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form >
            <p>Don't have an account</p>
            <a href="/signup" >New User</a>
        </div>
    </body>
</html>