<html>
    <head>
        <title>Smriti Hotel Application</title>
        <script src="https://code.jquery.com/jquery-1.12.1.min.js" integrity="sha256-I1nTg78tSrZev3kjvfdM5A5Ak/blglGzlaZANLPDl3I=" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Welcome to Hotel Smriti</h1>
        <h3>Enter your requirement here and Search for your room</h3>
        <div id = "query">
            <% if(user.Name=="guest") {%>
                <a href="/login" >login</a><br>
            <% }  %>
            <% if(user.Name!="guest") {%>
                <a href="/user?Name=<%=user.Name%>" >Your Account</a><br>
            <% } %>
            <%- include ('./partials/messages') %>
            <label for="Room_type">Choose your room type:</label>
            <form action="/result" method="post">
                <select name = "room" id = "room">
                    <option value="all">All</option>
                    <option value="Single">Single</option>
                    <option value="double">Double</option>
                    <option value="King">King</option>
                    <option value="Queen">Queen</option>
                    <option value="double double">Double Double</option>
                    <option value="Cabana">Cabana</option>
                    <option value="Suite">Suite</option>
                    <option value="Presidential Suite">Presidential Suite</option>
                </select><br>
                <label for="CheckINN">Check In Date & Time:</label><br>
                <input type="datetime-local" name="CheckINN" required="true"/><br>
                <label for="CheckOUT">Check Out Date & Time:</label><br>
                <input type="datetime-local" name="CheckOUT" required="true"/><br>
                <button type="submit">Enter</button>
            </form>
            <% if(user.Name!="guest") {%>
                <form action="/logout" method="POST">
                    <button type="submit">logout</button>
                </form>
            <% } %>
        </div>
    </body>
</html>
